.quiz.styled{
	.question{
		padding:5px;
		.answers{
			display:flex;
			.answer{
				flex-grow:1;
			}
		}
		.answer{
			margin:10px;
			height:100px;
			background-color:#EFEFEF;
			border:1px solid #CCC;
			border-radius:5px;
			outline: none;
			&.selected{
				background-color:#CCC;
				border:1px solid #666;
			}
		}
	}
	fieldset{
		margin:0;
		padding:0;
	}
}


.question.selected{
	border:1px solid #CCC;
}
.question:not(.selected){
	display:none;
}


.disabled{
	opacity:.5;
}
.answer, .previous, .next, .submit, .restart, .start{
	&:not(.disabled){
		cursor:pointer;
	}
	&.disabled{
		cursor:default;
	}
}
.controls{
	padding:5px;
}
.previous, .next, .submit, .restart, .start{
	font-size:1rem;
	font-family:"Arial", sans-serif;
	display:inline-block;
	padding:7px 10px;
	background-color:#FFF;
	border:1px solid #CCC;
	border-radius:5px;
}
.text, ol li{
	margin:10px;
	font-size:1rem;
	font-family:"Arial", sans-serif;
}
ol li.selected{
	font-weight:bold;
}
h2{
	font-size:1.5rem;
	font-family:"Arial", sans-serif;
}
code{
	padding:0 10px;
	display:block;
	background-color:#EFEFEF;
	border:1px solid #CCC;
	border-radius:5px;
}